*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: black;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px;
}
.logo{
    width: 50px;
    margin-left: 5px;
    margin-top: 5px;
    transition: .5s;
}
.logo img{
    width: 100%;
    
}
.logo:hover{
    transform: scale(1.05);
}

ul{
   width: 60%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    
}
ul a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}
a:hover{
    border-bottom: 2px white solid;
}
.content{
    display: flex;
    color :white;
    justify-content: space-between;
    align-items: center;
    width: 80%;
   
    margin: auto;
    border-radius: 20px;
    height: 600px;
}

.pic{
    width: 200px;
    margin-right: 60px ;
  transition: .5s;
}
.pic img{
    width: 100%;
}
.pic:hover{
    transform: scale(1.05);
}


.text{
    margin-left: 50px;
    width: 35%;
}

h2{
    font-size: 35px;
    margin-bottom: 10px;
    letter-spacing: 3px;
}
p{
 font-size: 20px;
 letter-spacing: 1px;
    margin-bottom: 20px;
}
button{
    border: none;
    width: 100px;
    padding: 7px;
    border-radius: 20px;
    font-size: 15px;
}

.product{
    display: flex;
    width: 150px;
     justify-content: space-evenly;
     align-items: center;
     margin: auto;
     gap: 10px;
}
.product img
{
    width: 30% ;
    transition: .5s;
}
.product img:hover{
    transform: translate(0 , -10px);
}

